<div class="col-md-4 mt20">
        <div class="post-img">
           {% if page.img %}
            <img width="600" src="{{site.baseurl}}/images/{{page.img}}" alt="{{page.title}}">
            {% else %}
            <img width="600" src="{{site.baseurl}}/images/{{site.default-image}}" alt="{{site.title}}">
            {% endif %}
        </div>
            
        
        <div class="mt10 recent">
            <h2>Recent articles</h2>        
            {% for post in site.related_posts limit:3 %}
             <ul>
                      <li>
                      <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><small>&nbsp;&nbsp;{{ post.date | date_to_string }}</small></p>
                      </li>

                {% endfor %}
              </ul>
        </div>
        
        <div class="mt10">
            <div><blockquote class="fb-xfbml-parse-ignore"><iframe src="http://streambadge.com/twitch/light/bachheart/" style="border:none;height:4em;width:100%"></iframe><small>My <cite title="Source Title">Twitch TV</cite></small></blockquote></div>
        </div>

</div>